body {
    font-family: 'Times New Roman', Times, serif;
    padding: 40px;
    text-align: center;
    background-color: brown;
  }
  
  .card {
    color:#a30105;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: white;
    max-width: 400px;
    padding: 40px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(217, 163, 163);
    transition:transform 0.3s, background-color 0.3s ease;
  }

  .card:hover {
    transform: scale(1.05);
    background-color: #fae7e8;
  }


  .card .heart-link:target{
    display: block;
  } 
  .message{
    font-size: 1.0em;
    color: #a30105;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
  }

  .heart-link {
    text-decoration: none;
    justify-content: center;
    color: #f7d7d8;
    font-size: 20px;
    font-family: "great-vibes";
  }

  .heart-link a {
  text-decoration: none;
  font-size: 1em;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  background-color: #ffa2a2;
  transition: background-color 0.3s ease;
  }

  .heart-link a:hover {
    background-color: #ff7f7f;
  }

  .heart-link a:active {
    background-color: #ff4c4c;
  }

  .heart-link a:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
  }

  .heart-link a:visited {
    color: #f7d7d8;
  }

  section {
    margin: 20px auto;
    max-width: 600px;
    background-color: whitesmoke;
    color:#a30105;
    font-family: "great-vibes";
    padding: 20px;
    border-radius: 10px;
    display:none;
  }
  
  section:target{
    display: block;
  }